<div class="card">
  <% if todo_item.completed? %>
    <h4><strike><%= todo_item.content %></strike></h4>
    <div class="button-container">
      <div class="button">
        <%= link_to todo_list_todo_item_incomplete_path(@todo_list, todo_item.id), method: :patch, :class => 'hide-btn' do %>
          <span><%= fa_icon('check-square lg') %></span>
        <% end %>
      </div>
      <div class="button">
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'hide-btn' do %>
          <span><%= fa_icon('trash lg') %></span>
        <% end %>
      </div>
    </div>
  <% else %>
    <h4><%= todo_item.content %></h4>
    <div class="button-container">
      <div class="button">
        <%= link_to todo_list_todo_item_complete_path(@todo_list, todo_item.id), method: :patch, :class => 'hide-btn' do %>
          <span><%= fa_icon('square lg') %></span>
        <% end %>
      </div>

      <div class="button">
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'hide-btn' do %>
          <span><%= fa_icon('trash lg') %></span>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
