<div class="title-container">
  <h1>TODO LISTS</h1>
</div>

<% @todo_lists.each do |todo_list| %>
  <%= link_to todo_list, :class => "card-link" do %>
  <div class="card">
    <div class="card-body">
    <div class="time-statement">You've completed <%= todo_list.todo_items.where(:is_completed => true).count %> of <%= todo_list.todo_items.count %> tasks.</div>
     <h3 class="card-title"><%= todo_list.title.upcase %></h3>
      <h4 class="card-subtitle mb-2 text-muted"><%= todo_list.description %></h4>
      <div class="button-container">
        <div class="button">
        <%= link_to edit_todo_list_path(todo_list), :class => 'hide-btn' do %>
          <span><%= fa_icon('pencil lg') %></span>
        <% end %>
        </div>
        <div class="button">
        <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'hide-btn' do %>
          <span><%= fa_icon('trash lg') %></span>
        <% end %>
        </div>
      </div>
    </div>
      </div>
    <% end %>
<% end %>

<br>

<%= link_to new_todo_list_path, :class => "new-object-container" do %>
    <div>NEW TODO LIST</div>
<% end %>
