<p id="notice"><%= notice %></p>

<div class="title-container">
  <h1>TODO LISTS</h1>
</div>

<% @todo_lists.each do |todo_list| %>
  <div class="card">
    <div class="card-body">
     <h3 class="card-title"><%= link_to todo_list, :class => 'hide-btn' do %><span><%= todo_list.title %></span>
   <% end %></h3>
      <h4 class="card-subtitle mb-2 text-muted"><%= todo_list.description %></h4>
      <div class="button-container">
        <div class="button">
        <%= link_to edit_todo_list_path(todo_list), :class => 'hide-btn' do %>
          <span><%= fa_icon('pencil lg') %></span>
        <% end %>
        </div>
        <div class="button">
        <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'hide-btn' do %>
          <span><%= fa_icon('trash lg') %></span>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<div class="new-object-container">
  <%= link_to 'NEW TODO LIST', new_todo_list_path %>
</div>
